{% extends 'layout/base_session.html' %}

{% block 'title' %}Iniciar sesión{% endblock %}

{% block 'content' %}
    <h1>Iniciar sesión</h1>
    <form action="{% url 'login' %}" method="POST" class="form-session">
        {% csrf_token %}
        <div class="form-group">
            {% for field in form_log%}
                <div class="form-field">
                    {{field.label_tag}}
                    {{field}}
                    {% if field.error %}
                        <p class="form-error">{{field.error}}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn-send">Iniciar sesión</button>
    </form>

    <p>No tienes una cuenta? <a href="{% url 'register' %}">Registrarse</a></p>
    
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}

{% endblock %}