{% extends 'layout/base_session.html' %}
{% load static %}
{% block 'title' %}Iniciar sesión{% endblock %}

{% block 'content' %}
    <h1>Iniciar sesión</h1>
    <form action="{% url 'login' %}" method="POST" class="form-session">
        {% csrf_token %}
        <table class="form-table">
            <input type="text" name="username" placeholder="Usuario">
            <input type="password" name="password" placeholder="Contraseña">
        </table>
        <button type="submit" class="btn-send">Iniciar sesión</button>
    </form>

    <p>No tienes una cuenta? <a href="{% url 'register' %}">Registrarse</a></p>
    
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}

{% endblock %}