{% extends 'layout/base_session.html' %}

{% block 'title' %}Registrarse{% endblock %}

{% block 'content' %}
    <h1>Registrarse</h1>
    <form action="{% url 'register' %}" method="POST" class="form-session">
        {% csrf_token %}
        <div class="form-group">
            {% for field in form %}
                <div class="form-field">
                    {{field.label_tag}}
                    {{field}}
                    {% if field.error %}
                        <p class="form-error">{{field.error}}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn-send">Registrarse</button>
    </form>

    <p>Ya tienes una cuenta? <a href="{% url 'login' %}">Login</a></p>

    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}

{% endblock %}