<footer>
    <div class="footer-title">
        <h3>Tu Blog personal, Garolfa</h3>
        <small>
            by <a href="https://linkedin.com/in/roman-danchuk/">Román Danchuk</a>
        </small>
    </div>
    <div class="footer-description">
        <p>Quienes somos</p>
        <p>Objetivos</p>
        <p>Compromiso</p>
    </div>
    <div class="footer-social-media">
        <p>Nuestras Redes:</p>
        <div class="footer-social-media-icons">
            <a href="#">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-x-twitter"></i>
            </a>
        </div>
    </div>
</footer>