<nav>
    <div class="nav-links">
        <a href="{% url 'post_index' %}">Inicio</a>
    </div>
    <div>
        <h1>Blog Social</h1>
    </div>
    <button class="user-icon" id="toggleMenu">
        <i class="fa-regular fa-circle-user"></i>
    </button>
    <div id="menu" class="menu hidden">
        <div class="menu-elements">
            <h3>Menú</h3>
            <a href="{% url 'user_detail' user_id=user.id %}">Perfil</a>
            <a href="{% url 'logout' %}">Desconectar</a>
        </div>
    </div>
</nav>