<nav>
    <div class="nav-links">
        <a href="{% url 'post_index' %}">Inicio</a>
    </div>
    <div>
        <h1>Garolfa</h1>
    </div>
    <button class="user-icon" id="toggleMenu">
        <i class="fa-solid fa-bars"></i>
    </button>
    <div id="menu" class="menu hidden">
        <div class="menu-elements">
            <h3>Menú</h3>
            <a href="{% url 'user_profile' %}">Perfil</a>
            <a href="{% url 'logout' %}">Desconectar</a>
            <button id="closeMenu">
                Cerrar menú
            </button>
        </div>
    </div>
</nav>