{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog | {% block 'title' %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/jquery-functions.js' %}"></script>
    {% block 'style' %}{% endblock %}
</head>
<body>
    <header>
        {% include 'layout/partials/menu.html' %}
    </header>
    <main>
        {% block 'content' %}
        {% endblock %}
        {% include 'layout/partials/modal.html' %}
    </main>
        {% include 'layout/partials/footer.html' %}
    <script src="https://kit.fontawesome.com/bf1e8130c0.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/jquery-functions.js' %}"></script>

</body>
</html>