{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog | {% block 'title' %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block 'style' %}{% endblock %}
</head>
<body>
    <header>
        {% include 'layout/partials/menu.html' %}
    </header>
    <main>
        {% block 'content' %}
        {% endblock %}
        {% include 'layout/partials/modal.html' %}
    </main>
        {% include 'layout/partials/footer.html' %}
    <script src="https://kit.fontawesome.com/bf1e8130c0.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function () {
        // Si hay mensajes en el modal, abrirlo automáticamente
        if ($("#modal-body .alert").length > 0) {
        $("#messageModal").fadeIn();
        }

        // Cerrar el modal al hacer clic en la "X"
        $(".close").click(function () {
        $("#messageModal").fadeOut();
        });

        // Cerrar el modal si se hace clic fuera de él
        $(window).click(function (e) {
        if ($(e.target).is("#messageModal")) {
            $("#messageModal").fadeOut();
        }
        });
    });
    $(document).ready(function() {
        $("#toggleMenu").click(function() {
            $("#menu").toggleClass("show");
        });

        $("#closeMenu").click(function() {
            $("#menu").removeClass("show");
        });

        // Cerrar el menú si se hace clic fuera
        $(document).click(function(event) {
            if (!$(event.target).closest("#menu, #toggleMenu").length) {
                $("#menu").removeClass("show");
            }
        });
    });
    </script>

</body>
</html>