{% extends 'layout/base.html' %}

{% block 'content' %}
    <h1>Detalles del post</h1>
    <span class="return_post_index"><a href="{% url 'post_index' %}"><i class="fa-solid fa-circle-left"></i></a></span>
    <ul class="detail">
        <li><b>Titulo:</b> {{post.title}}</li>
        <li><b>Descripción:</b> {{post.description}}</li>
        <li><b>Creado:</b> {{post.created_at}}</li>
        <li><b>Última actualización:</b> {{post.updated_at}}</li>
        <li><b>Creado por:</b> {{post.user.username}}</li>
        <li><b>Categoría:</b> {{post.category.name}}</li>
        <span class="detail-icon">
            <a href="{% url 'post_edit' id=post.id %}" class="detail-icon-edit"><i class="fa-regular fa-pen-to-square"></i></a>
            <a href="{% url 'post_delete' id=post.id %}" class="detail-icon-trash"><i class="fa-solid fa-trash-can"></i></a>
        </span>
    </ul>
    <div class="comments">
        <h2>Comentarios</h2>
        <ul>
            {% for comment in comments %}
                <li>
                    <strong>{{ comment.user.username }}</strong>: {{ comment.comment }}
                    <a href="#">Editar</a>
                    <a href="#">Eliminar</a>
                </li>
                {% empty %}
                <li>No hay comentarios aún.</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <form action="{% url 'add_comment' id=post.id%}" method="POST">
            {% csrf_token %}
            <textarea name="comment"></textarea>
            <button type="submit">Comentar</button>
        </form>
    </div>
{% endblock %}