{% extends 'layout/base.html' %}

{% block 'content' %}
    <div class="header-content-post">
        <div class="return_post_index">
            <a href="{% url 'post_index' %}">
                <i class="fa-solid fa-circle-left"></i>
            </a>
        </div>
        <h1>Detalles del post</h1>
    </div>
    <div class="detail">
        <div class="detail-content">
            <h2>{{post.title}}</h2>
            <p class="detail-content-description">
                {{post.description}}
            </p>
            <small class="text-muted">
                Creado: {{post.created_at}} - 
                Actualizado: {{post.updated_at}}<br/>
                Creador por: {{post.user.username}} - 
                Categoría: {{post.category.name}} - 
                Tag: {{post.tag.name}}
            </small>
            <div class="detail-content-info">
                
            </div>
        </div>
    </div>
    <div>
        <small class="text-muted">
            {{ post.numero_de_likes }} Me gusta - 

            {% if user in post.likes.all %}
            <a href="{% url 'post_like' post.id %}">No me gusta</a>
            {% else %}
            <a href="{% url 'post_like' post.id %}">Me gusta</a>
            {% endif %}

        </small>

    </div>
    <span class="detail-icon">
        <a href="{% url 'post_edit' id=post.id %}" class="detail-icon-edit"><i class="fa-regular fa-pen-to-square"></i></a>
        <a href="{% url 'post_delete' id=post.id %}" class="detail-icon-trash"><i class="fa-solid fa-trash-can"></i></a>
    </span>

    <div class="comments">
        <h2>Comentarios</h2>
        <ul>
            {% for comment in comments %}
                <li class="comments-list">
                    <div class="comments-list-comment">
                        <h3>{{ comment.user.username }}:</h3>
                        <p>{{ comment.comment }}</p>
                    </div>
                    <form id="edit-form-{{ comment.id }}" action="{% url 'edit_comment' comment.id %}" method="POST" class="edit-form">
                        {% csrf_token %}
                        <div>
                            <textarea name="comment" cols="45" rows="3">{{ comment.comment }}</textarea>
                            <button type="submit">Guardar</button>
                            <a href="#comment-{{ comment.id }}">Cancelar</a>
                        </div>
                    </form>
                    <small class="text-muted">
                        <a href="#edit-form-{{ comment.id }}" >Editar</a>
                        <a href="{% url 'delete_comment' comment.id %}" >Eliminar</a>
                    </small>
                </li>
                {% empty %}
                <li>No hay comentarios aún.</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <form action="{% url 'add_comment' id=post.id%}" method="POST">
            {% csrf_token %}
            <textarea name="comment" cols="60" rows="3"></textarea>
            <button type="submit">Comentar</button>
        </form>
    </div>
{% endblock %}