{% extends 'layout/base.html' %}

{% block 'content' %}
    <h1>Edición de {{post.title}}</h1>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="alert-success"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <span class="return_post_index"><a href="{% url 'post_index' %}"><i class="fa-solid fa-circle-left"></i></a></span>
    <form action="{% url 'post_edit' id=id %}" method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Enviar">
    </form>
{% endblock %}