{% extends 'layout/base.html' %}

{% block 'content' %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
    <h1>Publicaciones</h1>
    {% include 'post/partials/search.html' %}
    <span>
        <a href="{% url 'post_index' %}">Ver todos</a> 
        <a href="{% url 'post_create' %}"><i class="fa-regular fa-square-plus" alt="nuevo_post"></i></a>
    </span>
    
    <ul class="view">
        {% for post in page_obj %}
            <a href="{% url 'post_view' id=post.id%}" class="block">
                <h2>{{post.title}}</h2>
                <p>{{post.description|truncatechars:20}}</p>
            </a>
            <div>
                <div class="block-count-comments">
                    <p>Like</p>
                    <p>Dislike</p>
                </div>
                <div>
                    <p>{{post.comment_count}}</p>
                </div>
            </div>
        {% endfor %}
    </ul>
    
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1&search={{ search_query }}">Primero</a>
                <a href="?page={{ page_obj.previous_page_number }}&search={{ search_query }}">Anterior</a>
            {% endif %}
    
            <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&search={{ search_query }}">Siguiente</a>
                <a href="?page={{ page_obj.paginator.num_pages }}&search={{ search_query }}">Último</a>
            {% endif %}
        </span>
    </div>
    
{% endblock %}