:root{
    --color-primary:#fbe9e7 ;
    --color-secondary:#876533;
    --color-tertiary:#ff8800;
    --font-main: serif;
    --font-text:'Courier New', Courier, monospace;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:var(--font-text)
}

/* SELECTORES */

h1,h2,h3,h4,h5,h6{
    font-family: var(--font-main);
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--color-primary);

}
nav{
    background-color: var(--color-secondary);
}
input, select, textarea {
    outline: none;
    box-shadow: none;
    border: 1px solid var(--color-tertiary);
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
}

form{
    background-color: #876533;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-field {
    display: flex;
    flex-direction: column;
}
.btn-send{
    width: 100%;
    padding: 10px;
    background-color: var(--color-secondary);
    color: white;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
.btn-send:hover{
    background-color: white;
    color: var(--color-secondary);
}
.form-error {
    color: red;
    font-size: 14px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px;
}